.slider_wrapper{
	border-top:1px solid #e3e3e3; 
	padding: 40px 20px 90px 20px;
	margin: -30px -30px 30px -30px;
}

input[type="text"].slider_selection{
	font-family:proxbold !important;
	color:#b08536 !important;
	font-size:30px !important;
	border:none !important;
	padding-top:0 !important;
	background:none !important; 
	padding-right:0 !important;
	width:100% !important;
}
.slider_wrapper .notch_big{
	position:absolute; 
	bottom:-9px; 
	background: url(../images/notch_big.png) no-repeat ; 
	width:2px; 
	height:52px; 
	margin-left:-1px; 
	background-position:bottom;
	overflow:visible; 
}
.slider_wrapper .notch_small{
	position:absolute; 
	bottom:-9px; 
	background: url(../images/notch_small.png) no-repeat ; 
	width:2px; 
	height:52px; 
	margin-left:-1px; 
	background-position:bottom;
	overflow:visible; 
}
.slider_wrapper .slider_left{ 
	float:left; 
	background: url(../images/slider_left.jpg) no-repeat ;
	width:19px;
	height:14px;
	margin-left:-19px;
}
.slider_wrapper .slider_right{ 
	float:right;
	background: url(../images/slider_right.jpg) no-repeat;
	width:19px;
	height:14px;
	margin-right:-19px;
}
.slider_wrapper .slider_label {
	text-align:right;
	font-family:proxbold;
	font-size:14px;
	color:#000;
	text-transform:uppercase;
	padding-right:25px;
	padding-top:15px;
}
.slider_wrapper .slider_selection_wrapper {
	padding-right:0;
	margin-right:0;
}
.slider_wrapper .notch_label {
	color:#000;
	width:70px;
	margin-left:-35px;
	float:left;
	text-align:center;
	font-family:proxbold;
	font-size:13px;	
}
.slider_wrapper .ui-slider{ 
	border-radius:0; 
	background: url(../images/slider.jpg) repeat-x ; 
	height:14px; border:none; 
	cursor:pointer !important;
}
.slider_wrapper .ui-slider-handle{
	background: url(../images/slider_arrow.png) !important;
	height:27px !important;
	width:20px !important;
	border:none !important;
	cursor:pointer !important;
	margin-top:5px !important; 
	border-radius:0 !important;
}

.slider_wrapper .ui-widget-header{
	background: none;
}

@media only screen and (max-width: 767px) {
	.slider{ padding-left:50px; padding-right:50px; margin-top:50px;}
	input[type="text"].slider_selection{ text-align:center; font-size:40px !important;}
	.slider_label{ text-align:center !important; font-size:30px !important;}
	.slider_wrapper{ margin:0; padding: 40px 0 0 0;}
	.notch_label { font-size:10px;}
}