
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^modules/4939df1c/(.*) /wp-content/plugins/all-in-one-wp-security-and-firewall/$1 [QSA,L]
RewriteRule ^modules/38892348/(.*) /wp-content/plugins/benchmark/$1 [QSA,L]
RewriteRule ^modules/ff957fea/(.*) /wp-content/plugins/contact-form-7/$1 [QSA,L]
RewriteRule ^modules/8a5ba412/(.*) /wp-content/plugins/debug-bar/$1 [QSA,L]
RewriteRule ^modules/97fc198b/(.*) /wp-content/plugins/debug-bar-console/$1 [QSA,L]
RewriteRule ^modules/91f470ac/(.*) /wp-content/plugins/developer/$1 [QSA,L]
RewriteRule ^modules/76db04be/(.*) /wp-content/plugins/easy-instagram/$1 [QSA,L]
RewriteRule ^modules/2b4c40ca/(.*) /wp-content/plugins/enclothed-options/$1 [QSA,L]
RewriteRule ^modules/4c4d0c7c/(.*) /wp-content/plugins/enclothed-main/$1 [QSA,L]
RewriteRule ^modules/ac5ea7cc/(.*) /wp-content/plugins/enclothed-profile/$1 [QSA,L]
RewriteRule ^modules/30099cd3/(.*) /wp-content/plugins/feedwordpress/$1 [QSA,L]
RewriteRule ^modules/5dfe969b/(.*) /wp-content/plugins/form-maker/$1 [QSA,L]
RewriteRule ^modules/904ba093/(.*) /wp-content/plugins/ldm-sagepay/$1 [QSA,L]
RewriteRule ^modules/fcd25979/(.*) /wp-content/plugins/ldm-streams/$1 [QSA,L]
RewriteRule ^modules/a30dba15/(.*) /wp-content/plugins/ldm-webservices/$1 [QSA,L]
RewriteRule ^modules/e0e05106/(.*) /wp-content/plugins/log-viewer/$1 [QSA,L]
RewriteRule ^modules/f7479f91/(.*) /wp-content/plugins/mywebtonet-performancestats/$1 [QSA,L]
RewriteRule ^modules/e793a658/(.*) /wp-content/plugins/post-thumbnail-editor/$1 [QSA,L]
RewriteRule ^modules/14a61fa0/(.*) /wp-content/plugins/recent-facebook-posts/$1 [QSA,L]
RewriteRule ^modules/95e68aeb/(.*) /wp-content/plugins/revslider/$1 [QSA,L]
RewriteRule ^modules/91c45abf/(.*) /wp-content/plugins/ssl-insecure-content-fixer/$1 [QSA,L]
RewriteRule ^modules/9b1e5167/(.*) /wp-content/plugins/twitter-feed/$1 [QSA,L]
RewriteRule ^modules/137bcda5/(.*) /wp-content/plugins/user-switching/$1 [QSA,L]
RewriteRule ^modules/8915e3cb/(.*) /wp-content/plugins/widget-shortcode/$1 [QSA,L]
RewriteRule ^modules/9a3a0fb6/(.*) /wp-content/plugins/wordfence/$1 [QSA,L]
RewriteRule ^modules/ab41f185/(.*) /wp-content/plugins/wordpress-https/$1 [QSA,L]
RewriteRule ^modules/5bb3512d/(.*) /wp-content/plugins/wordpress-importer/$1 [QSA,L]
RewriteRule ^modules/b31275b0/(.*) /wp-content/plugins/wp-mail-smtp/$1 [QSA,L]
RewriteRule ^modules/b2ecce28/(.*) /wp-content/plugins/js_composer/$1 [QSA,L]
RewriteRule ^modules/da7b4324/(.*) /wp-content/plugins/wp-retina-2x/$1 [QSA,L]
RewriteRule ^lib/(.*) /wp-includes/$1 [QSA,L]
RewriteRule ^file/(.*) /wp-content/uploads/$1 [QSA,L]
RewriteRule ^modules/(.*) /wp-content/plugins/$1 [QSA,L]
RewriteRule ^template/main\.css //index.php?style_wrapper=1 [QSA,L]
RewriteRule ^template/(.*) /wp-content/themes/dante-child/$1 [QSA,L]
RewriteRule ^dante/(.*) /wp-content/themes/dante/$1 [QSA,L]
RewriteRule ^template_main/(.*) /wp-content/themes/dante/$1 [QSA,L]
RewriteRule ^do_ajax\.php /wp-admin/admin-ajax.php [QSA,L]
RewriteRule ^user_submit\.php /wp-comments-post.php?hide_my_wp=1234 [QSA,L]
RewriteRule ^wp-content/themes/dante-child/screenshot\.png|readme\.html|license\.txt|wp-content/debug\.log|wp-includes/$ /nothing_404_404 [QSA,L]
RewriteRule ^(((wp-content|wp-includes)/([A-Za-z1-9-_/]*))|(wp-admin/(?!network/)([A-Za-z1-9-_/]+)))(\.txt|/)$ /nothing_404_404 [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
