@font-face {
    font-family: 'proxbold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxlight';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}





.header .nav li > a {
	color: #000000;
	text-decoration: none;
	font: 13px proxbold, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.navbar-default {
background: none;
border: none;
}

***/
/*Navigation*/
.header {
	z-index: 999;
	position: relative;
	box-shadow: 0 1px 3px #ddd;	
	background: #fff;
	filter:none;
	border: none; 
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
}
.ie8 .header {
	border-bottom: 1px solid #eee;
}
.header .navbar-collapse {
	position: relative;
}

.page-header-fixed .header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.scrolling-fixed.header {
	opacity: 0.95;
}

.page-header-fixed .page-container {
	margin-top: 75px;
}

.navbar {	
	margin-bottom: 0;
}

.header  a.brand {
	font-size: 23px;
	font-weight: 400; 
}

.header a.brand b {
	color: #0da3e2;
	font-weight: 400; 
}

.header a.brand span {
	color: #b0b0b0;
	display: block;
	font-size: 12px;
}

.header .nav li:first-child {
	margin-left: 0;
}

.navbar-brand{
	-moz-transition:padding 0.3s ease-in-out;
    -webkit-transition:padding 0.3s ease-in-out;
    -o-transition:padding 0.3s ease-in-out;
    transition:padding 0.3s ease-in-out;
    position: relative;
    z-index: 2;
}
.scrolling-fixed .navbar-brand{
	padding:0 15px;
}

.header a.logo-v1 img {
	-moz-transition:width 0.2s ease-in-out;
    -webkit-transition:width 0.2s ease-in-out;
    -o-transition:width 0.2s ease-in-out;
    transition:width 0.2s ease-in-out;

	-moz-transition:height 0.2s ease-in-out;
    -webkit-transition:height 0.2s ease-in-out;
    -o-transition:height 0.2s ease-in-out;
    transition:height 0.2s ease-in-out;

	-moz-transition:margin 0.2s ease-in-out;
    -webkit-transition:margin 0.2s ease-in-out;
    -o-transition:margin 0.2s ease-in-out;
    transition:margin 0.2s ease-in-out;
}

.header .navbar-nav li a {
	color: #000;
	font-size: 15px;
	font-weight: 400;
	text-shadow: none;
	position: relative;
	padding: 40px 16px 10px;
	border-top: solid 2px #fff;
	-moz-transition:padding 0.3s ease-in-out;
    -webkit-transition:padding 0.3s ease-in-out;
    -o-transition:padding 0.3s ease-in-out;
    transition:padding 0.3s ease-in-out;
}
.header.scrolling-fixed .nav li a{
	padding: 14px 16px;
}

.header .nav li > a:hover,
.header .nav li.active > a,
.header .nav li.active:hover > a {
	color: #000 !important;
	border-radius: 0;
	text-shadow: none;
	/*padding-top: 26px; */
	box-shadow: none !important;
	border-bottom: 3px solid #af8535;
}
.header.scrolling-fixed .nav li > a:hover,
.header.scrolling-fixed .nav li.active > a,
.header.scrolling-fixed .nav li.active:hover > a {
	padding-top: 14px;
}

.header .nav>li>a:focus, 
.header .nav>li>a:hover {
	color: #888;
}

.header ul.nav {
	float: right;
	margin-right: 0;
}

.header .in.collapse ul {
	margin-top: 0;
}

.header .in.collapse li a:hover {
	color: #fff ;
	background: #af8535;
}

.header .in.collapse li.active > a,
.header .in.collapse li.active:hover > a {
	color: #fff;
	background: #0da3e2;
}

/*Navigation Toggle Icon*/
.navbar-default .navbar-btn, .navbar-default .navbar-toggle:focus{
	border: none;
	padding:10px;
	margin-top: 20px;
	border-radius: 0;
	background:#000;
}
.navbar-default .navbar-toggle:hover {
	background:#af8535 !important;
}



.header .navbar-btn span, 
.header .navbar-btn:hover span { 
	background:#fff !important;
	box-shadow:none !important;
}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff !important;}

/*Navigation Dropdown*/
.header .dropdown-menu {
	border: none; 
	box-shadow: none;
	min-width: 185px;
	border-bottom: none;
	border-left: solid 1px #eee; 
	border-right: solid 1px #eee; 
	border-top: solid 2px #0da3e2;
	padding: 0;
}

.header .dropdown-menu li {
	margin-left: 0;
	border-bottom: solid 1px #f5f5f5;
}

.header .dropdown-menu li a {
	color: #444;
	font-size: 14px;
	font-weight: 300;
	padding: 9px 15px !important;
	text-transform: inherit;
	-moz-transition:none;
    -webkit-transition:none;
    -o-transition:none;
    transition:none;
    border: none !important;
}

.header .nav .dropdown-menu li a:hover,
.header .nav li.active .dropdown-menu li a:hover  {
	border: none;
	color: #444 !important;
	background: #FCFCFC !important;
}

.header .nav li.active .dropdown-menu li.active a {
	border: none !important;
	color: #444 !important;
	background: #f7f9fa !important;
}

.header .nav > li >.dropdown-menu:after,
.header .nav > li >.dropdown-menu:before {
	border: none;
}

.header .nav li.dropdown.open>.dropdown-toggle {
	color: #0da3e2;
	background: none;
}

.header .nav li.dropdown .dropdown-toggle i {
	font-size: 12px;
}

.header .in.collapse li.dropdown.active > a,
.header .in.collapse li.dropdown.active:hover > a {
	color: #fff;
	background: #0da3e2;
}

.header .nav > li.dropdown.open.active > a:hover,
.header .nav > li.dropdown.open.active > a:focus {
  border-color: #0da3e2;
}

/* mega-menu */
.dropdown-menu[aria-labelledby="mega-menu"] {
	width: auto;
	float: left;
	width: 603px;
}
.dropdown-right .dropdown-menu {
	left: auto;
	right: 0;
}
.nav-content {
	width: 100%;
	overflow: hidden;
	padding: 5px;
}
.nav-content-col {
	float: left;
	width: 33.3%;
}
.nav-content-col:last-child {
	margin-right: 0;
}
.nav-content-col > h3 {
	font: bold 15px 'Open Sans', Arial, sans-serif;
	margin: 0 0 6px;
	text-transform: none;
	padding: 10px 10px 5px;
	border-bottom: solid 1px #f0f0f0;
}
.nav-content-col ul {
	padding: 0;
	margin: 0 0 10px;
	list-style: none;
}
.header .nav-content-col li {
	padding: 0;
	border: none;
}
.header .active .nav-content-col li > a,
.header .nav-content-col li > a {
	display: block;
}



@media (min-width: 1200px) {
.container {
width: 970px;
}
}

.navbar-static-top{ margin-top:10px; min-height:110px;}

.navbar-header{ height: 100px !important;}

.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #af8535 !important;}


































































/*BEGIN max and min width 992px*/
@media (min-width: 992px) {

	/* Shrink */
	
	.header-shrink {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		background:#fff;
		opacity:0.95;
	}
	
	.navbar .navbar-inner-shrink .brand {
		padding: 0px 20px 0px !important;
	}

	.header .navbar-inner-shrink li a {
		padding: 15px 16px 17px;
	}

	.header .navbar-inner-shrink li > a:hover,
	.header .navbar-inner-shrink li.active > a,
	.header .navbar-inner-shrink li.active:hover > a {
		padding-top: 13px;
	}

	.header .navbar-inner-shrink li.menu-search {
		padding: 0;
	}

	.header .navbar-inner-shrink .search-box {
		top: 52px;
	}
	/* End Shrink */

	/*BEGIN NAVIGATION (WHILE RESIZING WINDOW)*/
	.header a.logo-v1 img {
		margin-top: 12px;
	}
	.header.scrolling-fixed a.logo-v1 img {
		margin-top: 17px;
	}

	.header .nav li > a:hover,
	.header .nav li.active > a ,
	.header .nav li.active:hover > a {
		background: #fcfcfc !important;
	}

	.header .nav li > a:hover {
		background: none !important;
	}
	
	.header .nav li.active > a:after { 
		top: 0;
		width: 0; 
		height: 0;
		left: 50%;
		z-index: 2; 
		content: " "; 
		display: block; 
		margin-left: -3px; 
		position: absolute;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
	}

	.header .dropdown-menu li.active > a:after { 
		border: none;
	}
	
	/*END NAVIGATION (WHILE RESIZING WINDOW)*/
}

@media (max-width: 992px) {
	/*BEGIN NAVIGATION*/
	.front-topbar .col-md-9 {
		padding-left: 0;
	}
	.front-topbar .col-md-3 {
		padding-right: 0;
	}

	.header {
		padding-left: 30px;
		padding-right: 30px;
	}

	.navbar-brand {
		padding: 15px 15px 15px 0;
	}

	.header .nav-collapse > ul {
		float: inherit;
		margin-top: 12px !important;
	}

	.header .dropdown-menu {
		margin-bottom: 12px;
		border-top: solid 1px #e7e7e7 !important;
	}

	.header .nav-collapse .dropdown-menu li+li a {
		margin-bottom: 0;
	}

	.header .nav-collapse .nav>li.active > a,
	.header .nav-collapse .nav>li>a:hover,
	.header .nav-collapse .nav>li>a:focus,
	.header .nav-collapse .dropdown-menu a:hover,
	.header .nav-collapse .dropdown-menu a:focus {
		background: none;
		border-top: 0px !important;
	}
	
	.header .nav li.active .dropdown-menu li.active a {
		background: #f7f9fa !important;
	}
	
	.dropdown-right .dropdown-menu {
		left: 0;
		right: auto;
		width: auto;
	}
	.nav-content {
		padding: 0;
		width: auto;
	}
	.nav-content-col {
		float: none;
		width: auto;
	}
	.nav-content-col > h3 {
		padding: 10px 15px 5px;
		margin-bottom: 0;
	}
	.header .nav-content-col li {
		border-bottom: solid 1px #F5F5F5;
	}

	.header .nav li.menu-search {
		padding-left: 2px;
		padding-top: 15px;
	}
	/*END NAVIGATION*/

	/*BEGIN SERVICE BOX*/
	.service-box {
		margin-bottom: 0;
	}

	.service-box p,
	.service-box .service-box-heading em,
	.service-box .service-box-heading span {
		display: block;
		text-align: center;
	}

	.service-box .service-box-heading em {
		margin-bottom: 10px;
	}
	/*END SERVICE BOX*/

	/*BEGIN BLOCKQUOTE BLOCK*/
	.quote-v1-inner {
		text-align: center !important;
	}
	/*END BLOCKQUOTE BLOCK*/
	.recent-work .col-md-9 {
		padding: 0;
	}
	.hidden-sm {
		display: none !important;
	}
	.recent-news-inner {
	    padding-left: 15px;
    	padding-right: 15px;
	}

	.ver-inline-menu {
		margin-bottom: 30px !important;

	}
	.ver-inline-menu li.active:after {
		display: none;
	}

	.form-horizontal .form-group {
		margin-left: 0;
		margin-right: 0;
	}
	.form-actions.right {
		padding-right: 0;
	}
	.form-horizontal .form-actions.right {
		padding-right: 15px;
	}
}
/*END max and min width 979px*/

/*BEGIN max and min width 940px*/
@media (max-width: 940px) {
	.recent-work .bx-wrapper, .our-clients .bx-wrapper {
		padding-top: 30px;
	}
	.recent-work .bx-controls, .our-clients .bx-controls {
		position: absolute;
		top: 0;
		left: 67px;
	}
}
/*END max and min width 940px*/


/*BEGIN max and min width 767px*/
@media (max-width: 767px) {
	
	.header .in.collapse li a:hover {
 color: #fff !important; 
 background: #af8535 !important; 
}
	.navbar-brand {
		padding: 15px;
	}
	/*BEGIN NAVIGATION*/
	.header .nav li a {
		padding: 10px 15px;
	}
	.header .nav li > a:hover,
	.header .nav li.active > a,
	.header .nav li.active:hover > a {
		border: none; 
		padding-top: 10px;
	}
	.header .nav .dropdown-menu {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		border: none;
		box-shadow: none;
		clear: both;
	}
	.header .nav .dropdown-menu a {
		color: inherit;
		background: none;
	}
	/*END NAVIGATION*/

	/*BEGIN SEARCH BOX*/
	.header .search-box {
		left: 40px;
		top: inherit;
		bottom: 3px;
		padding: 5px;
		border: none;
		display: none;
		background: none;
		position: absolute;
	}

	.header .search-box .btn {
		padding: 7px 14px;
	}
	/*END SEARCH BOX*/

	/*BEGIN COPYRIGHT*/
	.copyright .copyright-logo {
		text-align: left;
	}
	/*END COPYRIGHT*/

	/*BEGIN STEP BLOCKS*/
	.front-steps.front-step-one:after,
	.front-steps.front-step-two:after {
		display: none; 
	}	
	/*END STEP BLOCKS*/

	/*BEGIN SPACE FOR MOBILE*/
	.space-mobile {
		margin-bottom: 40px;
	}
	.front-team li.space-mobile {
		padding-bottom: 40px;
	}
	/*END SPACE FOR MOBILE*/

	.header {
		padding: 0;
	}

	.breadcrumbs .container {
		padding: 0 10px;
	}
	.breadcrumbs h1 {
		margin-left: 0;
	}

	/*BEGIN BREADCRUMBS*/
	.breadcrumbs ul {
		top: 0;
		float: left !important;
		margin-bottom: 3px;
	}
	/*END BREADCRUMBS*/

	/*BEGIN TOPBAR ICONS*/
	.front-topbar,
	.front-topbar .topbar-social {
		text-align: center;
	}		
	.front-topbar {
		padding-bottom: 5px;
	}
	/*END TOPBAR ICONS*/

	.front-topbar .login-reg-links {
		text-align: center;
	}

	/*BEGIN BLOG PAGES*/
	.blog-posts img,
	.recent-news img {
		margin-bottom: 15px;
	}

	.blog-item .blog-item-img .carousel-control {
		top: 40%;
	}		
	/*BEGIN BLOG PAGES*/

	/*BEGIN SOCIAL-FOOTER*/
	.copyright .social-footer {
		margin-top: 10px;
		text-align: left;
	}

	.copyright .social-footer li {
		margin-left: 0;
		margin-right: 3px;
	}	
	/*BEGIN SOCIAL-FOOTER*/
}

@media (min-width: 767px) {
	.navbar-nav > li:hover .dropdown-menu {
		display: block;
	}
	/*BEGIN STEP BLOCKS*/
	.no-space-steps [class^="col-"],
	.no-space-steps  [class*=" col-"] {
	    padding-left: 0;
	    padding-right: 0;
	}
	/*END STEP BLOCKS*/
}
/*END max and min width 767px*/

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) { 
	/*BEGIN NAVIGATION*/
	.header .nav li {
		margin-left: 0;
	}
	.header .nav > li {
		padding-bottom: 4px;
	}
	.header .nav li a {
		padding: 10px 15px;
	}
	.header .nav li > a:hover,
	.header .nav li.active > a,
	.header .nav li.active:hover > a {
		border: none; 
		padding-top: 10px;
		background: none !important;
	}	
	/*END NAVIGATION*/

	/*BEGIN SERVICE BOX*/
	.service-box {
		margin-bottom: 0;
	}

	.service-box p,
	.service-box .service-box-heading em,
	.service-box .service-box-heading span {
		display: block;
		text-align: center;
	}

	.service-box .service-box-heading em {
		margin-bottom: 10px;
	}
	/*END SERVICE BOX*/	
	.header .nav li.menu-search span.sep {
		display: inline-block;
		position: absolute;
		left: -9px;
		top: 9px;
		margin: 0;
	}
	.header .search-box {
		margin-top: 0;
	}
	.scrolling-fixed .search-box {
		margin-top: 11px;
	}
	.scrolling-fixed.header .nav li.menu-search {
		padding-top: 15px;
	}

	.header .navbar-collapse{
		float: none;
		margin-left: -15px;
	}
	.header ul.nav {
		clear: both;
		float: left;
	}
	.header .nav li {
	
	}
	 .header .nav li:hover > a, .header .nav li.active > a, .header .nav li.active:hover > a{
		
			border-bottom: 3px solid #af8535;
			border-top:none;
	}
	.header .nav li li {
		margin-right: 0;
	}
	.header .nav li li > a, .header .nav li li:hover > a, .header .nav li li.active > a, .header .nav li li.active:hover > a{
		padding: 9px 15px !important;
	}
}

@media (max-width: 768px) {
	.header.scrolling-fixed a.logo-v1 img {
		margin-top: 19px;
	}

	.header .navbar-collapse {
		max-height: 3000px;
		padding: 15px;
	}

	.header ul.nav{
		float: none;
		margin: 0;		
	}
	.navbar-collapse.in {
		overflow: inherit;
		/*background: #F9F9F9;*/
	}
	.navbar-nav .open .dropdown-menu {
		/*background: #F9F9F9;*/
		font-size: 14px;
		border-top: solid 1px #e5e5e5 !important;
	}
	.header .navbar-nav li {
		border-bottom: 1px solid #e5e5e5;
		border-bottom: none;
	}
	.header .nav li > a,
	.header .nav li > a:hover,
	.header .nav li.active > a,
	.header .nav li.active:hover > a {
		border: none !important;
		padding: 10px 15px !important;
		font-size: 14px;
	}
	.header .nav .dropdown-menu li a:hover,
	.header .nav li.active .dropdown-menu li a:hover  {
		background: #EFEFEF !important;
	}

	.navbar-nav .dropdown-menu li:first-child,
	.navbar-nav .dropdown-menu li {
		margin-left: 20px;
	}
	.nav-content-col > h3 {
		padding: 10px 15px 5px;
		margin-bottom: 0;
	}
	.header .dropdown-menu .nav-content-col li:first-child,
	.header .dropdown-menu .nav-content-col li {
		margin-left: 0;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 18px;
	}




	/*.header .in.collapse li.dropdown.active > a,
	.header .in.collapse li.dropdown.active:hover > a  {
		border: none;
		color: #0DA3E2 !important;
		background: none !important;
	}*/
	.header .nav li.menu-search {
		padding-left: 12px;
	}
	.header .nav li.menu-search span.sep {
		display: none;
	}
	.scrolling-fixed.header .nav li.menu-search {
    	padding: 12px 12px;
	}
	.no-space-steps {
		padding: 0 15px;
	}
	.front-steps.front-step-one:after, .front-steps.front-step-two:after {
		border-top: none;
		border-bottom: none;
	}
	.sidebar {
		padding-top: 50px;
	}
}
@media (max-width: 766px) {
	.no-space-steps {
		padding: 0;
	}
}

/*BEGIN max and min width 320px*/
@media (max-width: 320px) {

	.header .search-box input {
		width:160px;
	}
	
	.input-append input {
		width_:160px;
	}
}	

